<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
<!--navbar--> 
<%- include('navbar'); %>

<!--Recherche-->
<div class="container">
    <div class="row">

      <div class="texte">
        <h3>Ticket available on <%= date %> :</h3>
      </div>

      <%
        for(var i = 0; i < trainList.length; i++){ %>
            <div class="blockWhite">
              <div class="ville"><%= trainList[i].departure %>/ <%= trainList[i].arrival %></div>
              <div class="heure">train departure at : <%= trainList[i].departureTime %></div>
              <div class="prix"><%= trainList[i].price %> €</div>
              <div class="prix"><a href="/basket?id=<%=trainList[i]._id%>&villedepart=<%=trainList[i].departure%>&villearrive=<%=trainList[i].arrival%>&heure=<%=trainList[i].departureTime%>&prix=<%=trainList[i].price%>&date=<%=date%>" class="btn btn-primary">GO</a></div>
            </div>
       <% } %>

    </div>
</div>



<!--footer-->
<%- include('footer'); %>


<!--boostrap script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
